.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    
    width: 380px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0.1,0,.6);
    color: black;
    border-radius: 6px;
    padding: 10px 10px;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 10%;
    margin-left: -150px;
   }
   .tooltip .tooltiptext p{
       padding: 10px 10px;
   }
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -35px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #2B547E transparent;
  }
  .valid{
      color: green;

  }
  .invalid{
      color: red;
  }