body {
    font-family: Source Sans Pro, sans-serif;
}

.home-maindiv1 {
    margin-top: 30px;
}

#id {
    color: white;

}

.home-maindiv1 p {
    font-size: 32px;
    font-weight: 400;
    color: #787676;
    text-align: center;
    margin-bottom: 15px;
    padding-top: 40px;
}

.home-maindiv1 h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(122, 122, 122);
}

.home-maindiv2 {
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 3px;
    color: #464646;
    background-color: rgba(252, 178, 68, .2);
    text-align: center;
    margin-left: 40vw;
    margin-right: 41vw;
    font-weight: 500;
}

.home-maindiv3 {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.home-maindiv4 {
    display: flex;
}

.home-maindiv5 input[type=radio] {
    padding: 6px;
    border: 2px solid #ccc;
    border-radius: 100px;
    margin-top: 2px;
}

#home-subdiv1 {
    width: 130px;
    border-right-width: 0;
    border-top: 1.4px solid #efefef;
    border-left: 1.4px solid #efefef;
    border-right: 1.4px solid #efefef;
    border-bottom: 1.4px solid #efefef;
    border-top-left-radius: 4px;
    display: inline-block;
    line-height: 47px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #858282;
    cursor: pointer;
}
.changecolor {
    border-bottom: 3px solid #0C6AD4;
}
#home-subdiv2 {
    width: 130px;
    border-right-width: 0;
    border-top: 1.4px solid #efefef;
    border-right: 1.4px solid #efefef;
    display: inline-block;
    line-height: 47px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #858282;
    cursor: pointer;
}

#home-subdiv3 {
    width: 130px;
    border-right-width: 0;
    border-top: 1.4px solid #efefef;
    border-right: 1.4px solid #efefef;
    border-top-right-radius: 4px;
    display: inline-block;
    line-height: 47px;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #858282;
    cursor: pointer;
}
.home-subdiv5 {
    width: 105px;
    height: 50px;
    background-color: #0C6AD4;
    margin-left: -1px;
}
#search-btn {
    background-color: #0C6AD4;
    border: none;
    padding-top: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    padding-left: 24px;
}

.home-subdiv5 img {
    width: 21px;
    height: 17px;
    padding-right: 5px;

}

.home-maindiv4 {
    margin-left: 362px;
}

.search-location {
    width: 37vw;
    height: 43px;
    padding-left: 10px;
    height: 50px;
}
#search {
    font-size: 20px;
    padding-right: -13px;

    color: white;
}
.ad-post {
    margin-top: 20px;
    width: 13vw;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, transparent 1%, rgb(0, 122, 111) 0px) 50% center / 15000% rgb(0, 122, 111);
    height: 30px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
}

.ad-post:hover {
    background: #025e57 radial-gradient(circle, transparent 1%, #007a6f 0) 50%/15000%;
}

.home-header {
    display: flex;
    height: 65px;
    box-shadow: 0 10px 17px rgb(0 0 0 / 13%);
    background-color: white;
}

.pos {
    position: fixed;
    margin-top: -100px;
    width: 100vw;
}

.dropdown1 {
    margin-left: 20px;
    width: 216px;
}
.header-maindiv1 {
    flex: 65%;
}

.header-maindiv2 {
    flex: 25%;
}

.home-maindiv6 {
    margin-top: 50px;
    margin-left: 42vw;
}

.header-childdiv {
    width: 250px;
    font-size: 30px;
    padding: 10px;
    margin-left: 50px;
}


.property-btn {
    display: flex;
    color: rgb(255, 255, 255);
    background: radial-gradient(circle, transparent 1%, rgb(0, 122, 111) 0px) 50% center / 15000% rgb(0, 122, 111);
    padding: 8px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    border-radius: 2px;
    cursor: pointer;
    width: 120px;
    margin-top: 6px;
}
.booking-btn {
    display: flex;
    padding: 2px;
    padding-left: 22px;
    width: 120px;
    background-color: white;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    text-transform: capitalize;
    color: #555;
    font-weight: 300;
    border-radius: 2px;
    margin-top: 6px;
}

.onselect {
    padding: 13px;
    width: 130px;
    margin-top: -23-px;
    border: 1.4px solid 555;
    font-size: 18px;
    cursor: pointer;
}
.selectOption {
    font-size: 25px;
}

.chip {
    padding: 0px 10px;
    background: #0096fb;
    margin-right: 2px;
    margin-bottom: 5px;
    border-radius: 11px;
    display: inline-flex;
    align-items: center;
    font-size: 9px;
    line-height: 22px;
    color: #fff;
}

.searchWrapper {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    min-height: 22px;
    position: relative;
    width: 17vw;
}

input[type="radio"]:checked {
    background-color: #2f22ee;
}

.popUpDiv {
    width: 37vw;
    min-height: auto;
    background-color: white;
    padding-left: 35px;
    box-shadow: 0 10px 17px rgb(0 0 0 / 13%);
    cursor: pointer;
}

.register-link {
    color: white;
    text-decoration: none;
}

.link {
    text-decoration: none;
}

.login-link {
    color: white;
    text-decoration: none;
}
.css-i4bv87-MuiSvgIcon-root {
    font-size: 1.2rem;
    margin-left: -29px;
}
.profile-div {
    flex: 15%;
}

#profile-dashboard {
    margin-top: 2px;
    margin-left: -50px;
}

#profile-icon {
    margin-left: 35px;
    padding-top: -4px;
    margin-top: 7px;
}

#composition-button {
    color: #555;
    height: 44px;
}

#user {
    color: white;
    padding-left: 5px;
}

.ui-icon {
    padding-left: 10px;

}

.ui-text {
    padding-left: 3px;
    padding-top: 4px;
}

.post-link {
    text-decoration: none;
}
.locationIcon
{
    position: absolute;
}
.searchPlace{

}
.search-div
{
    margin-top: 8px;
}